@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/*.login-block{

    background: #DE6262;
    background: -webkit-linear-gradient(to bottom, rgb(0, 0, 0,.75), rgb(0, 0, 0,.75));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0,0,0,.075));
    float: left;
    width: 100%;
    padding: 50px 0;
}
.img-fluid {
    max-width: 100%;
    height: 550px!important;
}
h2{
    position: relative;
   
}

/*.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative; background-image: url("img/fond.png")}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color:#964500;}
.login-sec h2:after{content:" "; width:100px; height:5px; backgroundrgb(0, 0, 0, 0.75); display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background:#964500; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}*/
/*body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1d8093!important;
    text-align: left;
    background-color: #fff;
    height:100%;
}
.col-md-6{
    position: relative;
    background-image: url("img/fond.png");
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
   
}*/
.section1{
    visibility: hidden;
}
body
{
  margin-top:50px;
}
.glyphicon 
{ 
  margin-right:10px; 
}
.panel-body 
{ 
  padding:0px; 
}
.panel-body table tr td 
{
   padding-left: 15px 
}
.panel-body .table
{
  margin-bottom: 0px; 
}
div.col-xs-6 
{
    position: relative;
  
    width: 80px;
    height:60px;
    padding-left: 4px;
    border:2px solid #1d8093;
}
.conteneur a {
  position:absolute;
  top:5%;
  left:90%;
  transform:translate(-50%,-50%);
  width:250px;
  height:69px;
  padding:0 1rem;
  line-height:60px;
  text-align:center;
  border:2px solid #1d8093;
  text-decoration:none;
  text-transform:uppercase;
  font-family:sans-serif;
  color:#1d8093;
  overflow:hidden;

}

a span  {
  display:inline-block;
  transition:0.5s;
  font-size:40px;
}
a span:nth-child(odd):before {
  content:attr(data-text);
  position:absolute;
  transform:translateY(100%);
}
a span:nth-child(odd){
  transform:translateY(-100%);
}
a:hover span:nth-child(odd){
  transform:translateY(0);
  color:#964500;
}
a span:nth-child(even):before {
  content:attr(data-text);
  position:absolute;
  transform:translateY(-100%);
}

a span:nth-child(even){
  transform:translateY(100%);
}
a:hover span:nth-child(even){
  transform:translateY(0);
  color:#964500;
 
}

.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
  }
  
  .section-content{
    text-align: center; 
  
  }
  #contact{
    padding-top: 10%;  
    font-family: 'Teko', sans-serif;
    width: 100%;
    height: 400px;
     color : #fff;    
  }

  .contact-section{
      position: relative;
    padding-top: 60px;
  }
  .contact-section .col-md-6{
    width: 50%;
  }
  
  .form-line{
    border-right: 1px solid #B29999;
  }
  
  .form-group{
    margin-top: 10px;
  }
  label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form-control{
    font-size: 1.3em;
    color: #080808;
  }
  textarea.form-control {
      height: 300px;
    
     /* margin-top: px;*/
  }
  
  .submit{ 

    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
  
  }
  